@charset "utf-8";
#id{
	
	
}
#wrapper{
	background-color: #FFF;
	height: 1650px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

#Name{
	clear: both;
	height: 50px;
	width: 400px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
#header{
	float: none;
	padding-left: 5px;
	height: 125px;
	width: 90%;
	clear: both;
	border-bottom-style: solid;
	margin-right: auto;
	margin-left: auto;
	background-image: url(Image/Updated_Header.jpg);
	background-repeat: no-repeat;
}
#About{
	clear: both;
	margin-right: auto;
	margin-left: auto;
	height: 250px;
	width: 95%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
#AboutHeading{
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	border-top-color: #0CC;
	border-right-color: #0CC;
	border-bottom-color: #003;
	border-left-color: #0CC;
	height: 22px;
	clear: both;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
}
#AboutPara{
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	clear: both;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	text-align: center;
	border-bottom-color: #CCC;
}
#Body{
	background-color: #CCC;
	width: 100%;
}
#JobTitle{
	clear: both;
	float: left;
	height: 50px;
	width: 500px;
	line-height: 20px;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#LeftHeader{
	height: 100px;
	width: 400px;
	padding-top: 50px;
	padding-bottom: 0px;
	clear: both;
	float: left;
}
#SlideShow{
	width: 60%;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-style: solid;
	margin-right: auto;
	margin-left: auto;
}
#Skills{
	height: 600px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-top: 10px;
	padding-top: 20px;
}
#SkillsBox{
	height: 85%;
	width: 95%;
	clear: both;
	margin: auto;
	padding: 20px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#SoftSkillsBox{
	height: 95%;
	width: 95%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#Right_Skills{
	height: 95%;
	width: 48%;
	float: right;
	border-left-style: solid;
	border-left-color: #CCC;
}
#Left_Skills{
	width: 48%;
	height: 95%;
	float: left;
	border-right-style: solid;
	border-right-color: #CCC;
}
#CompImage{
	clear: both;
	float: left;
	height: 49%;
	width: 128px;
}
#CompSkills{
	height: 95%;
	width: 70%;
	float: right;
	padding-left: 2px;
	margin-top: 5px;
	margin-right: 5px;
}
#SkillsList{
	font-size: 24px;
	line-height: 0px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#SkillsList_PartTwo{
	font-size: 18px;
	font-weight: bold;
}
#Game_Design_Skills{
	float: right;
	height: 45%;
	width: 70%;
	line-height: 0px;
}
#Top_Left_Skills{
	height: 49%;
	width: 99%;
	margin-top: 5px;
}
#SkillsListGame{
	font-weight: bold;
	font-size: 24px;
}
#Contact_Infoamtion{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-image: url(Image/Updated_Header.jpg);
	height: 125px;
	background-repeat: no-repeat;
}
#email{
	clear: both;
	float: right;
	text-align: right;
	padding-right: 10px;
}
#Links{
	float: right;
	vertical-align: bottom;
	line-height: 170px;
	padding-right: 5px;
	color: #999;
}

    #Links a { padding:15px; font-weight:bold; float:left; }
    #Links a:link {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
    #Links a:visited {
	color: #993366;
}
    #Links a:hover {
	color: #999999;
}
    #Links a:active {
	color: #000000;
}

@media only screen and (max-width: 600px) {

#wrapper{
	height: 3000px;
	width: 100%;
}
#Skills{
	width: 100%;
	height: 1500px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#SkillsBox{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 98%;
	width: 100%;
}
#Right_Skills{
	height: 50%;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 10px;

}
#Left_Skills{
	height: 50%;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#CompSkills{
	height: 49%;
	width: 100%;
	padding-left: 2px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	clear: both;
}
#CompImage{
	clear: both;
	float: none;
	height: 128px;
	width: 128px;
	margin-right: auto;
	margin-left: auto;
}
#Top_Left_Skills{
	height: 50%;
	width: 90%;
}

#SlideShow{
	width: 60%;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-style: solid;
	clear: both;
	float: left;
	margin-left: 10%;
}
#Links{
	clear: both;
	height: 50px;
	line-height: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

}
#header{
	height: 200px;
}
}

/* CSS Document */
